@model IEnumerable<Visitor_Management.Models.Tenant>

@{
    ViewBag.Title = "Property 24 | Visitor Management";
}

<div class="flex-card">
    @{
        var card_list = new List<string>(){ "Apartments", "Records", "Tenants", "Visitors" };

        foreach (var card in card_list)
        {
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">@card</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button href="" class="btn btn-primary" onclick="location.href='@Url.Action("Index", card)'" >@card</button>
                </div>
            </div>
        }
    }
</div>



